[env]
TF_VAR_organization_email_domain = "example.com"
TF_VAR_dev_account_email         = "aws+dev@example.com"
TF_VAR_prod_account_email        = "aws+prod@example.com"
TF_CLI_ARGS_init                 = "-backend-config=bucket=your-terraform-state-bucket -backend-config=key=management/terraform.tfstate -backend-config=region=ap-northeast-1 -backend-config=encrypt=true -backend-config=use_lockfile=true"
